// DESKTOP STARTS 1080px
@media screen and (min-width: 1080px) {
    .sticky-section-1 {
        background-size: cover;
        background-position: center;
    }

    .sticky-section-2 {
        background-size: cover;
        background-position: center;
    }

    .sticky-section-3 {
        background-size: cover;
        background-position: center;
    }
}