---
import "../styles/main.scss";
import { Image } from "astro:assets";
import heroImage from "../images/pexels-zeeshaanshabbir-9200228.jpg";
---

<style>
	@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
	*{
		margin: 0;
		padding: 0;
	}
	.hero-section {
		background-image: url(../images/pexels-zeeshaanshabbir-9200228.jpg);
		background-size: cover;
		background-repeat: no-repeat;

		width: 100vw;
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1{
		font-family: 'Boldonse';
		color: white;	
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CHRONIC</title>
	</head>
	<body>
		<section class="hero-section">
			<h1>CHRONICLES</h1>

		</section>
	</body>
</html>
